In [ ]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

In [ ]:
# liste du répertoire
!ls "/content/drive/MyDrive/Accidents/datas"

drive = True
path = "/content/drive/MyDrive/Accidents/"
pathData = "/content/drive/MyDrive/Accidents/datas/"

2009.csv
2010.csv
2011.csv
2012.csv
2013.csv
2014.csv
2015.csv
2016.csv
2017.csv
2018.csv
2019.csv
2020.csv
2021.csv
caracteristiques_2005.csv
caracteristiques_2006.csv
caracteristiques_2007.csv
caracteristiques_2008.csv
caracteristiques_2009.csv
caracteristiques_2010.csv
caracteristiques_2011.csv
caracteristiques_2012.csv
caracteristiques_2013.csv
caracteristiques_2014.csv
caracteristiques_2015.csv
caracteristiques_2016.csv
caracteristiques_2017.csv
caracteristiques_2018.csv
caracteristiques_2019.csv
caracteristiques_2020.csv
caracteristiques_2021.csv
caracteristiques_2022.csv
caracteristiques_2023.csv
description-de-la-liste-des-vehicules-immatricules-impliques-dans-les-accidents-corporels.pdf
description-des-bases-de-donnees-onisr-annees-2005-a-2018.pdf
description-des-bases-de-donnees-onisr-annees-2005-a-2020.pdf
lieux_2005.csv
lieux_2005_to_2023.csv
lieux_2006.csv
lieux_2007.csv
lieux_2008.csv
lieux_2009.csv
lieux_2010.csv
lieux_2011.csv
lieux_2012.csv
lieux_2013.csv
lieux_2014.csv
lieux_2015.csv
lieux_2016.csv
lieux_2017.csv
lieux_2018.csv
lieux_2019.csv
lieux_2020.csv
lieux_2021.csv
lieux_2022.csv
lieux_2023.csv
Regroupement
usagers_2005.csv
usagers_2006.csv
usagers_2007.csv
usagers_2008.csv
usagers_2009.csv
usagers_2010.csv
usagers_2011.csv
usagers_2012.csv
usagers_2013.csv
usagers_2014.csv
usagers_2015.csv
usagers_2016.csv
usagers_2017.csv
usagers_2018.csv
usagers_2019.csv
usagers_2020.csv
usagers_2021.csv
usagers_2022.csv
usagers_2023.csv
vehicules_2005.csv
vehicules_2006.csv
vehicules_2007.csv
vehicules_2008.csv
vehicules_2009.csv
vehicules_2010.csv
vehicules_2011.csv
vehicules_2012.csv
vehicules_2013.csv
vehicules_2014.csv
vehicules_2015.csv
vehicules_2016.csv
vehicules_2017.csv
vehicules_2018.csv
vehicules_2019.csv
vehicules_2020.csv
vehicules_2021.csv
vehicules_2022.csv
vehicules_2023.csv

In [ ]:
!python glossaire.py

python3: can't open file '/content/glossaire.py': [Errno 2] No such file or directory

In [ ]:

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

#import du lexique des features
#import glossaire as fg

In [ ]:
fileExt = r".csv"

list_base_files = [_ for _ in os.listdir(pathData) if _.endswith(fileExt)]
caracteristiques_files = [_ for _ in list_base_files if _.startswith("caracteristiques")]
lieux_files = [_ for _ in list_base_files if _.startswith("lieux")]
usagers_files = [_ for _ in list_base_files if _.startswith("usagers")]
vehicules_files = [_ for _ in list_base_files if _.startswith("vehicules")]

In [ ]:
caracteristiques_files

['caracteristiques_2023 (1).csv',
 'caracteristiques_2016.csv',
 'caracteristiques_2015.csv',
 'caracteristiques_2014.csv',
 'caracteristiques_2013.csv',
 'caracteristiques_2012.csv',
 'caracteristiques_2011.csv',
 'caracteristiques_2010.csv',
 'caracteristiques_2009.csv',
 'caracteristiques_2008.csv',
 'caracteristiques_2007.csv',
 'caracteristiques_2006.csv',
 'caracteristiques_2005.csv',
 'caracteristiques_2021.csv',
 'caracteristiques_2023.csv',
 'caracteristiques_2017.csv',
 'caracteristiques_2018.csv',
 'caracteristiques_2019.csv',
 'caracteristiques_2020.csv',
 'caracteristiques_2022.csv']

In [ ]:
df_caracteristiques_2023 =pd.read_csv(pathData + 'caracteristiques_2023.csv', sep=';')
df_caracteristiques_2022 = pd.read_csv(pathData + 'caracteristiques_2022.csv', sep=';')
df_caracteristiques_2021 =pd.read_csv(pathData + 'caracteristiques_2021.csv', sep=';')
df_caracteristiques_2020 =pd.read_csv(pathData + 'caracteristiques_2020.csv', sep=';')
df_caracteristiques_2019 =pd.read_csv(pathData + 'caracteristiques_2019.csv', sep=';')

In [ ]:
df_caracteristiques_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1231695 entries, 0 to 1231694
Data columns (total 16 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   Num_Acc  1231695 non-null  int64
 1   jour     1231695 non-null  int64
 2   mois     1231695 non-null  int64
 3   an       1231695 non-null  int64
 4   hrmn     1231695 non-null  object
 5   lum      1231695 non-null  int64
 6   dep      1231695 non-null  object
 7   com      1231693 non-null  object
 8   agg      1231695 non-null  int64
 9   int      1231695 non-null  int64
 10  atm      1231622 non-null  float64
 11  col      1231676 non-null  float64
 12  adr      1085797 non-null  object
 13  lat      744627 non-null   object
 14  long     744623 non-null   object
 15  gps      480052 non-null   object
dtypes: float64(2), int64(7), object(7)
memory usage: 150.4+ MB

In [ ]:
# Renommer la colonne Accident_Id  en Num_Acc
df_caracteristiques_2022.rename(columns={'Accident_Id': 'Num_Acc'}, inplace=True)

In [ ]:
df_caracteristiques_2022 = df_caracteristiques_2022[['Num_Acc','jour','mois',  'an',  'hrmn', 'lum','dep','com', 'agg', 'int', 'atm','col',  'adr',  'lat', 'long' ]]

In [ ]:
df_caracteristiques_2023.Num_Acc.value_counts()

Num_Acc
202300000001    1
202300036540    1
202300036542    1
202300036543    1
202300036544    1
               ..
202300018278    1
202300018279    1
202300018280    1
202300018281    1
202300054822    1
Name: count, Length: 54822, dtype: int64

In [ ]:
df_caracteristiques_2023 = pd.concat([df_caracteristiques_2023,df_caracteristiques_2022], axis=0, ignore_index=True)

In [ ]:
df_caracteristiques_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55302 entries, 0 to 55301
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Num_Acc  55302 non-null  int64
 1   jour     55302 non-null  int64
 2   mois     55302 non-null  int64
 3   an       55302 non-null  int64
 4   hrmn     55302 non-null  object
 5   lum      55302 non-null  int64
 6   dep      55302 non-null  object
 7   com      55302 non-null  object
 8   agg      55302 non-null  int64
 9   int      55302 non-null  int64
 10  atm      55302 non-null  int64
 11  col      55302 non-null  int64
 12  adr      54069 non-null  object
 13  lat      55302 non-null  object
 14  long     55302 non-null  object
dtypes: int64(9), object(6)
memory usage: 6.3+ MB

In [ ]:

df_caracteristiques_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56518 entries, 0 to 56517
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Num_Acc  56518 non-null  int64
 1   jour     56518 non-null  int64
 2   mois     56518 non-null  int64
 3   an       56518 non-null  int64
 4   hrmn     56518 non-null  object
 5   lum      56518 non-null  int64
 6   dep      56518 non-null  object
 7   com      56518 non-null  object
 8   agg      56518 non-null  int64
 9   int      56518 non-null  int64
 10  atm      56518 non-null  int64
 11  col      56518 non-null  int64
 12  adr      55945 non-null  object
 13  lat      56518 non-null  object
 14  long     56518 non-null  object
dtypes: int64(9), object(6)
memory usage: 6.5+ MB

In [ ]:
df_caracteristiques_2021 = df_caracteristiques_2021[['Num_Acc','jour','mois',  'an',  'hrmn', 'lum','dep','com', 'agg', 'int', 'atm','col',  'adr',  'lat', 'long' ]]

In [ ]:
df_caracteristiques_2023 = pd.concat([df_caracteristiques_2023,df_caracteristiques_2021], axis=0, ignore_index=True)

In [ ]:
df_caracteristiques_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47744 entries, 0 to 47743
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Num_Acc  47744 non-null  int64
 1   jour     47744 non-null  int64
 2   mois     47744 non-null  int64
 3   an       47744 non-null  int64
 4   hrmn     47744 non-null  object
 5   lum      47744 non-null  int64
 6   dep      47744 non-null  object
 7   com      47744 non-null  object
 8   agg      47744 non-null  int64
 9   int      47744 non-null  int64
 10  atm      47744 non-null  int64
 11  col      47744 non-null  int64
 12  adr      47387 non-null  object
 13  lat      47744 non-null  object
 14  long     47744 non-null  object
dtypes: int64(9), object(6)
memory usage: 5.5+ MB

In [ ]:
df_caracteristiques_2020 = df_caracteristiques_2020[['Num_Acc','jour','mois',  'an',  'hrmn', 'lum','dep','com', 'agg', 'int', 'atm','col',  'adr',  'lat', 'long' ]]

In [ ]:
df_caracteristiques_2023 = pd.concat([df_caracteristiques_2023,df_caracteristiques_2020], axis=0, ignore_index=True)

In [ ]:
df_caracteristiques_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58840 entries, 0 to 58839
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Num_Acc  58840 non-null  int64
 1   jour     58840 non-null  int64
 2   mois     58840 non-null  int64
 3   an       58840 non-null  int64
 4   hrmn     58840 non-null  object
 5   lum      58840 non-null  int64
 6   dep      58840 non-null  object
 7   com      58840 non-null  object
 8   agg      58840 non-null  int64
 9   int      58840 non-null  int64
 10  atm      58840 non-null  int64
 11  col      58840 non-null  int64
 12  adr      58413 non-null  object
 13  lat      58840 non-null  object
 14  long     58840 non-null  object
dtypes: int64(9), object(6)
memory usage: 6.7+ MB

In [ ]:
df_caracteristiques_2019 = df_caracteristiques_2019[['Num_Acc','jour','mois',  'an',  'hrmn', 'lum','dep','com', 'agg', 'int', 'atm','col',  'adr',  'lat', 'long' ]]

In [ ]:
df_caracteristiques_2023 = pd.concat([df_caracteristiques_2023,df_caracteristiques_2019], axis=0, ignore_index=True)

In [ ]:
df_caracteristiques_2023.shape

(273226, 15)

In [ ]:
df_caracteristiques_2018 =pd.read_csv(pathData + 'caracteristiques_2018.csv', encoding = "ISO-8859-1", quotechar='"')
df_caracteristiques_2017 =pd.read_csv(pathData + 'caracteristiques_2017.csv', encoding = "ISO-8859-1", quotechar='"')
df_caracteristiques_2016 =pd.read_csv(pathData + 'caracteristiques_2016.csv', encoding = "ISO-8859-1", quotechar='"')
df_caracteristiques_2015 =pd.read_csv(pathData + 'caracteristiques_2015.csv', encoding = "ISO-8859-1", quotechar='"')
df_caracteristiques_2014 =pd.read_csv(pathData + 'caracteristiques_2014.csv', encoding = "ISO-8859-1", quotechar='"')
df_caracteristiques_2013 =pd.read_csv(pathData + 'caracteristiques_2013.csv', encoding = "ISO-8859-1", quotechar='"')
df_caracteristiques_2012 =pd.read_csv(pathData + 'caracteristiques_2012.csv', encoding = "ISO-8859-1", quotechar='"')
df_caracteristiques_2011 =pd.read_csv(pathData + 'caracteristiques_2011.csv', encoding = "ISO-8859-1", quotechar='"')
df_caracteristiques_2010 =pd.read_csv(pathData + 'caracteristiques_2010.csv', encoding = "ISO-8859-1", quotechar='"')
df_caracteristiques_2009 =pd.read_csv(pathData + 'caracteristiques_2009.csv', sep="\t",encoding = "ISO-8859-1", quotechar='"')
df_caracteristiques_2008 =pd.read_csv(pathData + 'caracteristiques_2008.csv', encoding = "ISO-8859-1", quotechar='"')
df_caracteristiques_2007 =pd.read_csv(pathData + 'caracteristiques_2007.csv', encoding = "ISO-8859-1", quotechar='"')
df_caracteristiques_2006 =pd.read_csv(pathData + 'caracteristiques_2006.csv', encoding = "ISO-8859-1", quotechar='"')
df_caracteristiques_2005 =pd.read_csv(pathData + 'caracteristiques_2005.csv', encoding = "ISO-8859-1", quotechar='"')

In [ ]:
df_caracteristiques_2018["an"] = 2000+df_caracteristiques_2018["an"]
df_caracteristiques_2017["an"] = 2000+df_caracteristiques_2017["an"]
df_caracteristiques_2016["an"] = 2000+df_caracteristiques_2016["an"]
df_caracteristiques_2015["an"] = 2000+df_caracteristiques_2015["an"]
df_caracteristiques_2014["an"] = 2000+df_caracteristiques_2014["an"]
df_caracteristiques_2013["an"] = 2000+df_caracteristiques_2013["an"]
df_caracteristiques_2012["an"] = 2000+df_caracteristiques_2012["an"]
df_caracteristiques_2011["an"] = 2000+df_caracteristiques_2011["an"]
df_caracteristiques_2010["an"] = 2000+df_caracteristiques_2010["an"]

df_caracteristiques_2009["an"] = 2000+df_caracteristiques_2009["an"]
df_caracteristiques_2008["an"] = 2000+df_caracteristiques_2008["an"]
df_caracteristiques_2007["an"] = 2000+df_caracteristiques_2007["an"]
df_caracteristiques_2006["an"] = 2000+df_caracteristiques_2006["an"]
df_caracteristiques_2005["an"] = 2000+df_caracteristiques_2005["an"]

In [ ]:
df_caracteristiques_2023 = pd.concat([df_caracteristiques_2023,df_caracteristiques_2018], axis=0, ignore_index=True)
df_caracteristiques_2023 = pd.concat([df_caracteristiques_2023,df_caracteristiques_2017], axis=0, ignore_index=True)
df_caracteristiques_2023 = pd.concat([df_caracteristiques_2023,df_caracteristiques_2016], axis=0, ignore_index=True)
df_caracteristiques_2023 = pd.concat([df_caracteristiques_2023,df_caracteristiques_2015], axis=0, ignore_index=True)
df_caracteristiques_2023 = pd.concat([df_caracteristiques_2023,df_caracteristiques_2014], axis=0, ignore_index=True)
df_caracteristiques_2023 = pd.concat([df_caracteristiques_2023,df_caracteristiques_2013], axis=0, ignore_index=True)
df_caracteristiques_2023 = pd.concat([df_caracteristiques_2023,df_caracteristiques_2012], axis=0, ignore_index=True)
df_caracteristiques_2023 = pd.concat([df_caracteristiques_2023,df_caracteristiques_2011], axis=0, ignore_index=True)
df_caracteristiques_2023 = pd.concat([df_caracteristiques_2023,df_caracteristiques_2010], axis=0, ignore_index=True)
df_caracteristiques_2023 = pd.concat([df_caracteristiques_2023,df_caracteristiques_2009], axis=0, ignore_index=True)
df_caracteristiques_2023 = pd.concat([df_caracteristiques_2023,df_caracteristiques_2008], axis=0, ignore_index=True)
df_caracteristiques_2023 = pd.concat([df_caracteristiques_2023,df_caracteristiques_2007], axis=0, ignore_index=True)
df_caracteristiques_2023 = pd.concat([df_caracteristiques_2023,df_caracteristiques_2006], axis=0, ignore_index=True)
df_caracteristiques_2023 = pd.concat([df_caracteristiques_2023,df_caracteristiques_2005], axis=0, ignore_index=True)

In [ ]:
df_caracteristiques_2005_to_2023 = df_caracteristiques_2023

In [ ]:
df_caracteristiques_2005_to_2023.Num_Acc.value_counts()

Num_Acc
202300000001    1
201000063866    1
201000063864    1
201000063863    1
201000063862    1
               ..
201600018855    1
201600018854    1
201600018853    1
201600018852    1
200500087954    1
Name: count, Length: 1231695, dtype: int64

In [ ]:
df_caracteristiques_2005_to_2023["an"].unique()

array([2023, 2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013,
       2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005])

In [ ]:
df_caracteristiques_2005_to_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1231695 entries, 0 to 1231694
Data columns (total 16 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   Num_Acc  1231695 non-null  int64
 1   jour     1231695 non-null  int64
 2   mois     1231695 non-null  int64
 3   an       1231695 non-null  int64
 4   hrmn     1231695 non-null  object
 5   lum      1231695 non-null  int64
 6   dep      1231695 non-null  object
 7   com      1231693 non-null  object
 8   agg      1231695 non-null  int64
 9   int      1231695 non-null  int64
 10  atm      1231622 non-null  float64
 11  col      1231676 non-null  float64
 12  adr      1085797 non-null  object
 13  lat      744627 non-null   object
 14  long     744623 non-null   object
 15  gps      480052 non-null   object
dtypes: float64(2), int64(7), object(7)
memory usage: 150.4+ MB

In [ ]:
df_caracteristiques_2005_to_2023.to_csv('caracteristiques_2005_to_2023.csv', index=False)

In [ ]:
df_caracteristiques_2005_to_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1231695 entries, 0 to 1231694
Data columns (total 16 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   Num_Acc  1231695 non-null  int64
 1   jour     1231695 non-null  int64
 2   mois     1231695 non-null  int64
 3   an       1231695 non-null  int64
 4   hrmn     1231695 non-null  object
 5   lum      1231695 non-null  int64
 6   dep      1231695 non-null  object
 7   com      1231693 non-null  object
 8   agg      1231695 non-null  int64
 9   int      1231695 non-null  int64
 10  atm      1231622 non-null  float64
 11  col      1231676 non-null  float64
 12  adr      1085797 non-null  object
 13  lat      744627 non-null   object
 14  long     744623 non-null   object
 15  gps      480052 non-null   object
dtypes: float64(2), int64(7), object(7)
memory usage: 150.4+ MB

In [ ]:

df_caracteristiques =pd.read_csv('caracteristiques_2005_to_2023.csv', sep=',')

<ipython-input-27-a717564e3a0a>:1: DtypeWarning: Columns (4,6,7,13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df_caracteristiques =pd.read_csv('caracteristiques_2005_to_2023.csv', sep=',')

In [ ]:
df_caracteristiques_2005_to_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1231695 entries, 0 to 1231694
Data columns (total 16 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   Num_Acc  1231695 non-null  int64
 1   jour     1231695 non-null  int64
 2   mois     1231695 non-null  int64
 3   an       1231695 non-null  int64
 4   hrmn     1231695 non-null  object
 5   lum      1231695 non-null  int64
 6   dep      1231695 non-null  object
 7   com      1231693 non-null  object
 8   agg      1231695 non-null  int64
 9   int      1231695 non-null  int64
 10  atm      1231622 non-null  float64
 11  col      1231676 non-null  float64
 12  adr      1085797 non-null  object
 13  lat      744627 non-null   object
 14  long     744623 non-null   object
 15  gps      480052 non-null   object
dtypes: float64(2), int64(7), object(7)
memory usage: 150.4+ MB

In [ ]:
df_caracteristiques_2005_to_2023_76 = df_caracteristiques_2005_to_2023[(df_caracteristiques_2005_to_2023["dep"]== '76')]

In [ ]:
df_caracteristiques_2005_to_2023_76.Num_Acc.value_counts()

Num_Acc
202300000110    1
202000009094    1
202000007685    1
202000007719    1
202000007758    1
               ..
202200029884    1
202200029994    1
202200029996    1
202200029999    1
201900058833    1
Name: count, Length: 3565, dtype: int64

In [ ]:
df_caracteristiques_2005_to_2023.dep.unique()

array(['75', '94', '95', '93', '92', '01', '38', '91', '22', '972', '974',
       '06', '67', '56', '2B', '82', '11', '63', '47', '39', '29', '26',
       '60', '45', '64', '16', '07', '17', '23', '87', '30', '34', '62',
       '987', '971', '66', '83', '69', '33', '80', '13', '973', '78',
       '976', '2A', '76', '74', '71', '72', '61', '86', '70', '65', '44',
       '54', '53', '59', '85', '57', '28', '37', '52', '51', '49', '88',
       '10', '36', '35', '31', '27', '84', '21', '08', '02', '81', '77',
       '14', '50', '42', '09', '15', '73', '32', '04', '58', '978', '68',
       '988', '55', '41', '43', '25', '05', '12', '19', '79', '40', '18',
       '03', '46', '90', '24', '89', '48', '986', '977', '975', '2', '9',
       '7', '4', '3', '1', '6', '5', '8', 590, 620, 800, 20, 600, 570,
       760, 270, 350, 220, 290, 560, 140, 500, 10, 610, 440, 490, 530,
       720, 850, 330, 240, 400, 470, 640, 860, 160, 170, 790, 870, 190,
       310, 90, 320, 460, 650, 810, 690, 210, 70, 260, 380, 420, 730, 740,
       630, 30, 540, 550, 880, 670, 680, 510, 80, 100, 520, 580, 710, 890,
       250, 40, 390, 700, 130, 50, 60, 830, 840, 340, 110, 300, 480, 660,
       201, 202, 780, 910, 950, 770, 450, 180, 280, 370, 410, 360, 900,
       820, 120, 230, 430, 150, 920, 930, 940, 750, 972, 971, 973, 974,
       976], dtype=object)